.project-card {
    flex-basis: 370px;
    display: flex;
    flex-direction: column;
    width: 370px;
}

.project-card-image {
    position: relative;
    height: 230px;
    background-color: var(--surface-a);
    border-radius: 10px;
    overflow: hidden;
}

.project-card-image img {
    height: 180px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 6px 6px 0 0;
    transition: all .2s;
}

.project-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--title-color);
}

.project-card-image:hover img {
    transform: translate(-50%) scale(1.08) rotate(2deg);
}

.project-card-tech {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.badge {
    width: auto;
    height: auto;
    position: absolute;
    padding: 4px 8px 30px 8px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--surface-a);
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -25px;
    margin-left: 10px;
}

.badges-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}