.main-container { 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}
.main-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;
}

.main-hello-text h1 {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    text-align: center;
    color: var(--title-color);
    
}

.main-principal-title {
    margin-top: 1rem;
    max-width: 90vh;
    text-align: center;
}

.main-principal-title h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    color: var(--title-color);
}

.emoji {
    font-size: 1.5rem;
}

.main-subtitle {
    margin-top: 1rem;
    text-align: center;
    max-width: 80vh;
}

.main-subtitle p {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important;
    color: var(--text-color);
}

@media screen and (max-width: 500px){
    .main-container {
        margin-top: 2.5rem;
    }

    .main-text-container {
        gap: 5px;
    }

    .main-principal-title h1 {
        line-height: 3rem;
        font-size: 2.5rem;
    }
}

.underfont {
    display: inline-block;
    position: relative;
    opacity: 1;
}
.underfont::after {
    position: absolute;
    content: "";
    background: rgba(20, 184, 166,.3);
    border-top: 2px solid rgba(20, 184, 166,.5);
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    z-index: -1;
}
.underfont-dark {
    display: inline-block;
    position: relative;
    opacity: 1;
}
.underfont-dark::after {
    position: absolute;
    content: "";
    background: rgba(101, 101, 102, 0.3);
    border-top: 2px solid rgba(101, 101, 102,.5);
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    z-index: -1;
}
.underfont-dark-mini {
    display: inline-block;
    position: relative;
    opacity: 1;
}
.underfont-dark-mini::after {
    position: absolute;
    content: "";
    background: rgba(101, 101, 102, 0.3);
    border-top: 2px solid rgba(101, 101, 102,.5);
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    z-index: -1;
}


/*About me*/
#box {
    width: 100%;
    background-image: var(--topography-background);
    padding: 20px;
}

.box {
    height: 100%;
    margin: 40px auto 0 auto;
    padding: 50px 70px 80px 70px;
    width: 95%;
    border-top: 1px solid var(--color-a);
    border-left: 1px solid var(--color-a);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(1.5px);
    background: var(--box-color);
    box-shadow: 20px 20px 50px #00000080;
    border-radius: 16px;
}
.about-box .header-section {
    margin-top: 30px;
}
.about-content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.about-texts {
    margin-top: 5px;
    display: flex;
    width: 70%;
    flex-direction: column;
    text-align: justify;
}

.about-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.about-skills {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.skills-title {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color)
}
.skill {
    max-height: 35px;
    font-family: 'Nunito', sans-serif;
    padding: 7px 15px 7px 15px;
    background-color: var(--primary-color);
    border-radius: 999px;
}

h1, h2, h3, p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
@media screen and (max-width: 920px) {
    #about {
        padding: 3px;
    }
    .about-box {
        padding: 20px;
    }
    .about-content {
        flex-direction: column;
    }

    .about-texts {
        width: 100%;
    }

    .about-skills {
        width: 100%;
    }
    .main-container {
        flex-direction: column;
    }
    .main-text-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    

    .box {
        padding: 30px 20px 80px 20px;
        width: 100%;
    }
}

.projects-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}