.main-container { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.underfont {
    display: inline-block;
    position: relative;
    opacity: 1;
}
.underfont:after {
    position: absolute;
    content: "";
    background: rgba(20, 184, 166,.3);
    border-top: 2px solid rgba(20, 184, 166,.5);
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    z-index: -1;
}